//후보자 한 명 상세창
.candidate-one-wrap {
    position: absolute;
    top: 10%;
    left: 32%;
    width: 35vmax;
    height: 36vmax;
    background-color: white;
    box-shadow: 0 10px 30px rgba(#4A83EF,0.4);
    border: 3px solid #4A83EF;
    //opacity: 0;
    transition: all 180ms ease-in;
    .candidate-one-flex {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 10% 0;
        //후보 이름
        .candidate-one-name {
            > p:nth-child(1) {
                font-size: 1.8vmax;
            }
        }
        //태그
        .candidate-one-tag {
            display: flex;
            .tag-group {
                color: #4A83EF;
            }
        }
    }
}
.vote-content-flex {
    display: flex;
    width: 80%;
    height: 100%;
    //찬반 투표인지 선거 투표인지
    .vote-type-wrap {
        background-color: rgba( #4A83EF, 0.5 );
        width: 6vmax;
        height: 2.2vmax;
        border-radius: 25px;
        margin: 15px 0;
        p {
            line-height: 2.2vmax;
            text-align: center;
            font-size: 0.9vmax;
        }
    }
    .info-title {
        font-size: 1.3vmax;
        margin: 20px 0;
    }
    //투표 날짜
    .vote-date {
        .date-flex {
            display: flex;
            input {
                width: 11vmax;
                height: 2vmax;
                border-radius: 20px;
                font-size: 0.8vmax;
            }
        }
    }
    //투표 제목
    .vote-title{
        .title-input-wrap {
            input {
                width: 40vmax;
                height: 4vmax;
                border-radius: 20px;
                padding: 0 20px;
                font-size: 1vmax;
            }
        }
        
    }
    .title-error, .content-error {
        display: none;
        color: #E7516D;
        padding: 10px;
        &.show {
            display: block;
        }
    } 
    //투표 정보
    .vote-info {
        .info-input-wrap{
            textarea {
                border: 2px solid;
                width: 40vmax;
                height: 15vmax;
                border-radius: 20px;
                padding: 20px;
                font-size: 1vmax;
            }
        }
    }
    //후보
    .vote-candidate {
        .candidate-flex {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .candidate-title-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p:nth-child(2) {
                color: #E7516D;
            }
        }
        .candidate-plus {
            width: 7vmax;
            height: 5vmax;
            border: 2px solid #4A83EF;
            border-radius: 20px;
            p {
                line-height: 5vmax;
                text-align: center;
                font-size: 2vmax;
                color: #4A83EF;
            }
            &:hover {
                cursor: pointer;
                background-color: #4A83EF;
                p {
                    color: white;
                }
            }
        }
    }
    .button-group-flex {
        display: flex;
        justify-content: flex-end;
        margin: 0 10px;
        div:nth-child(1) {
            margin-left: 10px;
        }
        a {
            margin: 0 20px;
        }
    }
    //input 창들이 조건에 맞지 않을 경우
    input {
        &.error {
            border: 2px solid #E7516D;
        }
        &.success {
            border: 2px solid #4A83EF;
        }
    }
}

