@font-face {
    font-family: 'SUIT-Light';
    src: url('../../assets/SUIT-Light.otf');
}
body {
    font-family: 'SUIT-Light';
}

//box를 가운데로 위치시키기 위한 div
.flex-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //box의 크기와 선
    .big-wrap {
        width: 90vw;
        height: 90vh;
        border: 3px solid #4A83EF;
        border-radius: 5px;
    }
}
/* 
@media (min-width:700px) and (max-width:1920px) {
    .flex-wrap {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        width: 100em;
        height: 50em;
        border: 3px solid #4A83EF;
        border-radius: 5px;
        
    
        .wrap {
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        h1 {
            display: inline;
            // position: absolute;
        }
    }
}
*/
// .flex-wrap {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 100em;
//     height: 50em;
//     border: 3px solid #4A83EF;
//     border-radius: 5px;
    

//     .wrap {
//         width: 100%;
//         height: 100%;
//     }
// }
